.feature {
  position: relative;
}
.feature .blurb {
/*  height: 200px;*/
  background: #ccc;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.feature h2 {
  font-size: 12pt;
  margin: 0;
  padding: 1em;
}
.feature .image {
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.feature .image img {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.feature .image img:hover {
  top: 0;
}

